body {
    background-color: #f0f0f0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .panel {
    background-color: #fff;
    padding: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 10px;
    color: #333;
  }
  
  .input-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #555;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    
  }
  
  input:focus {
    border: 1px solid #0066cc;
  }
  
  .btn {
    background-color: #0066cc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
  }
  
  .btn:hover {
    background-color: #0055aa;
  }
  
  .result-text {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
  }
  
  #table table {
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-collapse: collapse;
    border-radius: 5px;
  }
  
  table th, table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
  }
  
  table caption {
    background-color: #0066cc;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px 5px 0 0;
  }
  
  @media (min-width: 768px) {
    .panel {
      width: 60%;
    }
  }
  
  @media (min-width: 1024px) {
    .panel {
      width: 40%;
    }
  }
  